.excellence {
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .item {
    @include for-size(tablet-landscape) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @include for-size(desktop) {
      width: calc((100% - 8 * 15px) / 4);
    }
    
    &:not(:last-child) {
      @include for-size(phone-only) {
        margin-bottom: 30px;
      }
    }
  }

  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .text {
    color: $title-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0;
  }
}

.icone {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $beck-btn-portfolio;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;

  .icon {
    width: 70px;
    height: 70px;
  }
}
