.page-heder {
  position: relative;
  border-bottom: 1px solid $boder-line-head;
}

.main-nav {
  display: flex;

  @include for-size(tablet-landscape) {
    align-items: center;
  }
}

.site-nav {
  display: block;
  text-align: center;
  @include for-size(phone-only) {
    padding-bottom: 20px;
  }

  @include for-size(tablet-landscape) {
    display: flex;
    margin-left: 88px;
    margin-right: 84px;
  }
  @include for-size(desktop) {
    margin-left: 93px;
  }

  .item + .item {
    @include for-size(tablet-landscape) {
      margin-left: 50px;
    }
  }
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @include for-size(phone-only) {
      padding-top: 0;
      padding-bottom: 40px;
      font-size: 18px;
      line-height: 1.17;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.list .current-studio,
.list .current-portfolio {
  @include for-size(tablet-landscape) {
    position: relative;
    color: $accent-color;
  }
}
.current-studio::before,
.current-portfolio::before {
  @include for-size(tablet-landscape) {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
