.operations-for-mobile {
  display: none;

  @include for-size(desktop) {
    display: block;
  }
}
.our-work {
  display: flex;

  .item {
    position: relative;

    + .item {
      margin-left: 30px;
    }
  }

  .text {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    color: $primary-white-color;
    background-color: $background-operation-icon;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
