.team {
  background-color: $beck-btn-portfolio;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(desktop) {
      padding-top: 94px;
      padding-bottom: 85px;
    }
  }

  &-persons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .text {
    margin-top: 0;
    margin-bottom: 16px;
    color: $title-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $second-border-colo;
  }
}

.our-team {

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .item-team {
    @include for-size(tablet-landscape) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @include for-size(desktop) {
      width: calc((100% - 8 * 15px) / 4);
    }
    &:not(:last-child) {
      @include for-size(phone-only) {
        margin-bottom: 30px;
      }
    }
  }
}

.container-persons {
  max-width: 450px;
  text-align: center;
  padding-bottom: 24px;
  background-color: $primary-white-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    @include for-size(tablet-landscape) {
      width: 354px;
    }
    @include for-size(desktop) {
      width: 270px;
      padding-bottom: 30px;
    }

  .list {
    max-width: 206px;
    margin-right: auto;
    margin-left: auto;
  }
}
