.logo {
  color: $logo-color;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    font-size: 26px;
    line-height: 1.19;
  }

  .first-word {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.futer-nav .logo {
  color: $primary-white-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.futer-logo {
  margin-top: 0;
  margin-bottom: 20px;
}
