.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $backdrop-modal;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateY(360deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center center;
  z-index: 1;
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  background-color: $primary-white-color;

  @include for-size(desktop) {
    width: 528px;
    height: 581px;
  }
  @media (max-width: 449px) {
    width: 100%;
    height: 100%;
  }
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-white-color;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.close-pointer {
  fill: currentColor;
}
