html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 2px solid teal;
}

body {
  margin: 0;
  background-color: $primary-white-color;
  color: $primary-text-color;

  font-family: "Roboto", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  .link {
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.advantage,
.operations,
.team,
.clients {
  margin-top: 0;
  margin-bottom: 60px;
  
  @include for-size(desktop) {
    margin-bottom: 94px;
  }
}

.operations .title,
.team .title,
.clients .title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
